
<row class="row">
  <% @members.each do |member|%>
  <% id = member.first_name%>
  <div class ="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card padding-bum">
      <div class="card-body text-left">
        <h5 class="card-title"><%= member.first_name%> <%= member.last_name%></h5>
        <hr>
        <p class="card-text">
          <%=member.email%> <br>
          <%=member.phone_number%>
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#<%= id %>Modal">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="<%= id %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= id %>ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="<%= id %>ModalLabel"><%= member.first_name%> Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    General info: <br>
                    <ul class="list-group">
                      <li class="list-group-item">First name <strong><%= member.first_name%></strong> </li>
                      <li class="list-group-item">Last name <strong><%= member.last_name%></strong> </li> 
                      <li class="list-group-item">Email <strong><%= member.email%></strong> </li> 
                      <li class="list-group-item">Gender <strong><%= member.gender%></strong> </li>
                    </ul>
                  </div>
                  <div class="col-12">
                    Analytics:
                    <ul class = "list-group">
                      <li class="list-group-item">Signed-in count: <strong><%= member.sign_in_count%> times</strong> </li>
                      <li class="list-group-item">Last signed in at <strong><%= member.last_sign_in_at%></strong> </li>
                      <li class="list-group-item">Last IP address: <strong><%= member.last_sign_in_ip%></strong> </li>
                      
                      <li class="list-group-item"> Deactivated: <strong><%= member.deactivated.to_s %></strong> </li>
                    </ul>
                  </div>
                </div>
              </div><!-- modal body end -->

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> <!-- modal end -->

      </div>
    </div>
  </div> <!-- card end -->
  <br>

  <% end %>
  


</row>