<h1>Invoice</h1>
  
the room booked is.... <%= @booked.name  %></br>
price of the booking is... <%= @booked.price %></br>
description of the booking is... <%= @booked.description %></br>
location of the booking is... <%= @booked.location %></br>
date booked is... <%= @booked.date_booked %></br>





