<div class="container-fluid">
  <h1> My Bookings </h1>
  <br>
  <div class="container-fluid bookings-container">
    <% @bookings.each do |booking| %>
    <!-- generate all this from database -->
    <p>
      <div class="row">
          <div class="btn-group container-fluid" role="group" aria-label="invoice button group">
            <button class="btn btn-primary  display-booking" type="button" data-toggle="collapse" data-target= '#<%= booking.id %>' aria-expanded="false" aria-controls= '<%= booking.id %>' >
              <%= booking.name %> at <%= booking.date_booked %>
            </button>


            <%= link_to "Invoice", create_pdf_invoices_path(:id => booking, :format => :pdf), :class => "btn btn-success btn-block invoice-button", :target => "_blank" %>

          </div>
      </div>
    </p>
    <p>
    <div class="collapse" id= '<%= booking.id %>' >
      <div class="card card-body text-left">
        <p>
          You have booked <%= booking.name%> at <%= booking.location%>, reserved for <%= booking.date_booked%> <br>
          <%= booking.name%> has <%= booking.description %> <br>
          <br>
          It comes with <%= booking.facilities %> <br>
          Price: $<%= ('%.2f' % (booking.price.to_i/100.0)) %>

        </p>
      </div>
    </div>
    </p>
    <% end %>
  </div>
</div>  <!-- end div -->