<div class="mx-auto" style="max-width: 23rem;">
  <div class="alert-danger">
    <%= devise_error_messages! %>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h2 class="card-title">Resend unlock instructions</h2>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email", required: true %>
        </div>
        <br>

        <div class="actions">
          <%= f.submit "Send", class: "btn btn-secondary" %>
        </div>
      <% end %>
        <br>
        <br>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
