<div class="container">
  <div class="row">
    <div class="col-md-6 text-left">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde inventore eos vel eligendi sequi, architecto incidunt, et rem voluptatem! Magnam voluptatem neque, eaque distinctio. Tempora non porro officia quasi molestiae aspernatur ipsa neque, voluptas aliquid hic ad quaerat reiciendis, magni!</p>
      <br>
      <h3> Get Started </h3>
      <%= link_to "Sign up", new_member_registration_path, class: "btn btn-primary" %>
      <br><br>
      <p>It's totally free trust me.</p>
    </div>
    <div class="col-md-6">
      <%= image_tag "entrance.jpg", :title => "Living Room", class: "img-fluid rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <br><br>
      <h3>Coworking</h3>
      <br>
      <%= image_tag "living_room.jpg", :title => "Living Room", class: "img-fluid rounded"%>
    </div>
    <div class="col-md-6">
      <br><br>
      <h3>Meeting & Event</h3>
      <br>
      <%= image_tag "meeting.jpg", :title => "Living Room", class: "img-fluid rounded" %>
    </div>
  </div>
   <div class="row">
   <div class="col-md-6 text-left">
      <br><br>
      <h3>About us</h3>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad non, tenetur dolorem temporibus consectetur sed laborum dignissimos labore! Voluptatem ducimus facere molestias sint consectetur iste dicta, fuga reiciendis vitae nemo.
    </div>
    <div class="col-md-6">
      <br><br>
      <%= image_tag "projector.jpg", :title => "Living Room", class: "img-fluid rounded" %>
    </div>
  </div>
</div>




  

