<div class="col-12">
  <h1 class="text-left font-weight-bold"> Account Settings </h1>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <%= link_to 'Account Information', settings_basic_path(@basic), :class => "btn" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Password Reset', settings_password_reset_path, :class => "btn" %>
      </li>
<!--<div class="col-12">
  <h1 class="text-left font-weight-bold"> Account Settings </h1>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" id="pills-basic-tab" data-toggle="pill"  role="tab" aria-controls="pills-basic" aria-selected="true">
         for research on how to attach <a class="nav-link active" id="pills-basic-tab" data-toggle="pill" href="#pills-basic" role="tab" aria-controls="pills-basic" aria-selected="true">Account Information</a> 
        <%= link_to 'Account Information', settings_basic_path, class: "nav-link" %>
      </li>-->
      <li class="nav-item">
        <%= link_to 'Notifications', settings_notifications_path, :class => "btn" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Payment Methods', settings_payment_methods_path, :class => "btn" %>
      </li>
    </ul>
</div>
 <!-- change password -->
<div class="container-fluid">
  <h5 class= "text-left font-weight-bold">Change Your Password</h5>
    <form>
      <div class="form-group row text-right">
        <label class="col-sm-2 col-form-label">Old Password</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="">
          </div>
      </div>
      <div class="form-group row text-right">
        <label class="col-sm-2 col-form-label">New Password</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="">
          </div>
      </div>
      <div class="form-group row text-right">
        <label class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="">
          </div>
      </div>

        </div>
     <div class="form-group row container">
        <div class="col-sm-9">
          <button type="submit" class="btn btn-danger">Update Password</button>
        </div>    
      </div>
    </form>
</div>