<div class="col-12">
  <h1 class="text-left font-weight-bold"> Account Settings </h1>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <%= link_to 'Account Information', settings_basic_path(@basic), :class => "btn" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Password Reset', settings_password_reset_path, :class => "btn" %>
      </li>
<!--<div class="col-12">
  <h1 class="text-left font-weight-bold"> Account Settings </h1>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" id="pills-basic-tab" data-toggle="pill"  role="tab" aria-controls="pills-basic" aria-selected="true">
         for research on how to attach <a class="nav-link active" id="pills-basic-tab" data-toggle="pill" href="#pills-basic" role="tab" aria-controls="pills-basic" aria-selected="true">Account Information</a> 
        <%= link_to 'Account Information', settings_basic_path, class: "nav-link" %>
      </li>-->
      <li class="nav-item">
        <%= link_to 'Notifications', settings_notifications_path, :class => "btn" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Payment Methods', settings_payment_methods_path, :class => "btn" %>
      </li>
    </ul>
</div>
 <!-- payment methods-->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-3 offset-sm-3">
      <div class="card ">
        <div class="card-header">
          <div class="row">
            <h5 class="text-center font-weight-bold">Payment Details</h5>
            <img class="img-fluid cc-img" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
          </div>
        </div>
        <div class="card-block">
          <form role="form">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>CARD NUMBER</label>
                  <div class="input-group">
                    <input type="tel" class="form-control" placeholder="Valid Card Number" />
                    <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-7">
                <div class="form-group">
                  <label><span class="hidden-sm">EXPIRATION</span><span class="d-print-inline">DATE</span></label>
                  <input type="tel" class="form-control" placeholder="MM / YY" />
                </div>
              </div>
              <div class="col-sm-5 col-sm-5 float-sm-right">
                <div class="form-group">
                  <label>CV CODE</label>
                  <input type="tel" class="form-control" placeholder="CVC" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>CARD OWNER</label>
                  <input type="text" class="form-control" placeholder="Card Owner Name" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-warning btn-lg btn-block">Add Card</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.cc-img {
margin: 0 auto;
}
</style>