<div class="card text-center">
  <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-group"}) do |f| %>
        <h2 class="card-title">Add Member</h2>
        <p class="card-text">for cospace</p><br />

          <%= f.text_field :first_name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Enter Member's First Name", required: true %>
          <br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Member's email", required: true %>
          <br />
        <div class="actions">
        <br />
          <%= f.submit "Member Added", class: "btn btn-secondary" %>
        </div>
        <br>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>