<div class="card text-center">
  <h3 class="text-left font-weight-bold">Add Member</h3>
  <div class="mx-auto" style="max-width: 30rem;">
    <%= form_for(@member, url: { action: "send_email_walk_ins" } ) do |f| %>
      <div class="form-group text-left">
        <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
      </div>
      <div class="form-group text-left">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
      </div>
      <div class="form-group text-left">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class= "col-sm-3">
        <%= f.submit 'Add Member', class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
