<div class="mx-auto" style="max-width: 23rem;">
  <div class="card text-center">
   <div class="card-body">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class=“card-title”>Sign in</h2>
      <p class=“card-text”>for cospace</p><br />

      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", required: true %> <br />

      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", required: true %> <br />

      <div class="row">
        <div class="col-6 text-left">
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>
        <div class="col-6 text-right">
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-secondary" %>
          </div>
       </div>
      </div>
      <br/><br/>

    <% end %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) %><br />
    <% end -%>

    </div>
  </div>
</div>
