<div class="mx-auto" style="width: 30rem;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body text-left">
          <h5 class="card-title"><%= @room.name %></h5>
          <hr>
          <p class="card-text"><b>Description: </b><%= @room.description %></p>
          <p class="card-text"><b>Price: </b><%= number_with_delimiter(@room.price) %></p>
          <p class="card-text"><b>Facilities: </b> <%= @room.facilities %></p>
          <p class="card-text"><b>Location: </b><%= @room.location %></p>
          <div class="text-right">
            <%= link_to "Edit", edit_room_path, class: "btn btn-primary btn-sm" %>
            <%= link_to "Delete", room_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning btn-sm" %>
            <%= link_to "Back", rooms_path, class: "btn btn-secondary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>