<!DOCTYPE html>
<html>
  <head>
    <title>Cospace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
              padding-top: 54px;
              overflow-x: hidden;
            }
            @media (min-width: 992px) {
              body {
                padding-top: 56px;
              }
            }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <!-- <a class="navbar-brand" href="#">Cospace</a> -->
        <!-- refractored above code to bottom code -->
        <%= link_to "Cospace", root_url, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <%- if current_member %>
            <li class="nav-item active">
              <%= link_to "Member", root_url, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_member_session_path, class: "nav-link", method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
            <% else %>
            <li class="nav-item active">
              <%= link_to "Home", root_url, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_member_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_member_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'About', page_path('about'), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', page_path('contact'), class: "nav-link" %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

     <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">Dashboard</a>
          </li>
          <li>
              <a href="#">Invoice</a>
          </li>
          <li>
              <a href="#">Calendar</a>
          </li>
          <li>
              <a href="#">Profile</a>
          </li>
          <li>
              <a href="#">Settings</a>
          </li>
          <li>
              <%= link_to 'About', page_path('about') %>
          </li>
          <li>
              <%= link_to 'Contact', page_path('contact') %>
          </li>
        </ul>
      </div>
        <!-- /#sidebar-wrapper -->
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <%- if current_member %>
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
        <% end %>
        <div class="col-lg-12 text-center">
          <!-- style/design is temporary we can change whenever we want -->
          <div style="font-size: 12px;">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%=  alert %></p>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  </div>
    <!-- /#wrapper -->
    
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
