<!DOCTYPE html>
<html>
  <head>
    <title>Cospace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <!-- div tag in here is just to hold the menu btn and navbar-brand together -->
        <div>
          <%- if current_member %>
            <a href="#menu-toggle" class="btn btn-warning btn-sm" id="menu-toggle">Menu</a>
          <% end %>
          &nbsp;
          <%= link_to "Cospace", root_url, class: "navbar-brand" %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <%- if current_member %>
            <li class="nav-item active">
              <%= link_to "Member", root_url, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_member_session_path, class: "nav-link", method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
            <% else %>
            <li class="nav-item active">
              <%= link_to "Home", root_url, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_member_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_member_registration_path, class: "nav-link" %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

     <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">Dashboard</a>
          </li>
          <li>
              <%= link_to 'Bookings', invoices_index_path %>
          </li>
          <li>
              <%= link_to 'Calendar', calendars_calendar_path %>
          </li>
          <li>
               <%= link_to 'Profiles', profiles_path %>
          </li>
          <li>
              <%= link_to 'Settings', settings_path %>
          </li>
        </ul>
      </div>
        <!-- /#sidebar-wrapper -->
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="mx-auto" style="max-width: 23rem; margin-bottom: 10px;">
              <%= content_tag :div, notice, class: "alert-info" %>
              <%=  content_tag :div, alert, class: "alert-danger" %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </div>
    <!-- /#wrapper -->
    
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
